body {
    font-family: 'Averta';
    font-weight: 400;
    margin: 0;
}
/*POSITIONS*/


/*COLORS*/
.color-pink {
    color: #de246e
}
.color-dark {
    color: #12151d
} 
.color-light-dark {
    color: #1c2432
}
.color-dark-blue {
    color: #0485a6
}
.color-light-blue {
    color: #00bbc1
}
/*BACKGROUNDS*/
.bg-pink {
    background-color: #de246e
}
.bg-dark {
    background-color: #12151d
} 
.bg-light-dark {
    background-color: #1c2432
}
.bg-dark-blue {
    background-color: #0485a6
}
.bg-light-blue {
    background-color: #00bbc1
}
.header {
    padding: 0.6rem 0 0;
    width: 100%;
    min-height: 2.7rem;
}

.header>div {
    display: inline-block;
}

/**/
.browse, .notifications {
    width: 33.333333%;
}
.logo { 
    min-width: 10%;
    display: -webkit-flex;
    display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.logo img {
    height: 1.999999rem;
}